@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Migraciones</h1>
    <p class="lead">
        Bienvenido a nuestro sistema de migraciones! Para registrar, modificar o eliminar viajeros, entradas, salidas o pasaportes,
        por favor revise el menú que contiene las opciones que se encuentran en el menu desplegable de la barra de navegacion.
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reservá</h2>
        <p>
            <img src="~/Images/Pasaporte.jpg" class="img-responsive" />
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Viajá</h2>
        <p>
            <img src="~/Images/Avion.jpg" class="img-responsive" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Disfrutá!</h2>
        <p>
            <img src="~/Images/Attendants.jpg" class="img-responsive" />
        </p>
    </div>
</div>
