/* Agrega estas reglas CSS */

.navbar-header {
    display: flex;
    align-items: center;
}

.btn {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
}

.sidenav {
    padding: 10px 20px;
    width: 0;
    transition: 0.5s ease-in-out;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    background: linear-gradient( 150.46deg, rgba(255, 255, 255, 0.5) -12.61%, rgba(255, 255, 255, 0.25) 110.1% );
    z-index: 1000; /* Asegúrate de que el menú esté encima del contenido */
}

.active .sidenav {
    width: 220px;
}

.items {
    padding: 20px 0;
    display: none;
}

.active .items {
    display: block;
}

.items ul {
    list-style: none;
    padding: 0;
}

    .items ul li {
        background: rgba(255, 255, 255, 0.2);
        margin: 10px 0;
        height: 40px;
        transition: 0.5s ease-in;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 16px;
        letter-spacing: 1px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    }

.items li a {
    text-decoration: none;
    color: #6e6e6e;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
    letter-spacing: 1px;
}

body.active .sidenav {
    width: 220px;
}

.btn-smaller {
    font-size: 6px; /* Ajusta el tamaño del texto */
    padding: 2px 5px; /* Ajusta el tamaño del padding */
    border-radius: 4px; /* Opcional: ajusta el borde redondeado si es necesario */
}
